@import "pallete.css";

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    block-size: 100%;

    scroll-behavior: smooth;

    font-size: 62.5%;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);

    block-size: 100%;
}

a {
    text-decoration: none;

    cursor: pointer;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

input {
    border: none;

    outline: none;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

svg {
    fill: currentcolor;

    display: block;

    block-size: 1em;
    inline-size: 1em;
}

button {
    color: inherit;
    background-color: transparent;

    border: none;
    border-radius: 0.3rem;

    white-space: nowrap;

    padding: 0.8rem 2.4rem;

    cursor: pointer;

    font-weight: bold;
}

button:hover {
    background-color: hsla(0, 0%, 63%, 0.15);
}

button:active {
    background-color: hsla(0, 0%, 63%, 0.05);
}

button.primary {
    border: 1px solid var(--background-color-border);
}

:not(input, textarea, #expander):focus-visible {
    outline: none;
    box-shadow: 0 0 5px 5px var(--background-color-border);
}

#expander:focus-visible {
    outline: none;
}
