.notes-grid {
    height: fit-content;
    width: 100%;
    min-width: 45rem;

    column-count: 1;
    column-gap: 1rem;
    column-fill: balance;
}

@media only screen and (min-width: 600px) {
    .notes-grid {
        column-count: 2
    }
}

@media only screen and (min-width: 1000px) {
    .notes-grid {
        column-count: 3
    }
}

@media only screen and (min-width: 1200px) {
    .notes-grid {
        column-count: 4
    }
}

.note {
    width: 100%;

    display: inline-block;

    border: 1px solid var(--background-color-border);
    border-radius: 1rem;

    padding: 1rem;
    margin-block: .5rem;
}

.note h2 {
    font-weight: bold;
    font-size: 1.6rem;

    padding-block-end: 1.5rem;
}


.note pre {
    font-size: 1.8rem;
    font-family: inherit;
    padding-block-end: 2.5rem;

}
